<nav class="navbar navbar-default navbar-static-top navbar-inverse" style="margin-bottom: 0px !important;">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<%= "active" if @active == "index" %>">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>

      <li class="dropdown" >
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> My Projects <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">          
            <li><a href="#">Nothing Right Now :(</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li> <a href="#"> <strong> Miller Time </strong></a></li>

        <li class="dropdown" >
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-lock"></span> Admin Settings <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu"> 
            <% if session[:user].present? %> 
   <li>     <a href="<%= admin_homepage_path %>"> Admin Dashboard </a> </li> 

            <li> <a href="<%= sign_out_path %>">  Sign Out </a> </li> 
          </ul>
        <li> 
          <a>
          Welcome Back, <%= session[:user] %> 
          </a>
         </li> 
            <% else session[:user].present? %> 
            <li> <a href="<%= admin_login_path %>"> Login to Admin Account </a> </li>
            <% end %> 
    </ul>
  </div>
</nav>
