<nav class="navbar navbar-default navbar-static-top navbar-inverse" style="margin-bottom: 0px !important;">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<%= "active" if @active == "index" %>">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>

      <li class="dropdown" >
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> My Projects <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">          
            <li><a href="<%=movie_searches_path %>">Movie Search Engine</a></li>
          </ul>
      </li>

      <li class="dropdown" >
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-question-sign"></span> Contact Me <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">          
          <li>
            <a href="https://www.linkedin.com/in/nicholas-miller-b2424b92">  <i class="fa fa-linkedin-square"> </i> LinkedIn</a>
          </li>
          <li>
            <a href="https://www.github.com/nickmiller708"> <i class="fa fa-github"> </i> Github</a>
          </li>
          <li>
            <a href="/resume"> Who I Am?</a>
          </li>
          <li>
            <a href="/contact_me"> <span class="glyphicon glyphicon-question"></span> Contact Me </a>
          </li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li> <a href="#"> <strong> Miller Time </strong></a></li>
        <li class="dropdown" >
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-lock"></span> Admin Settings <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu"> 
            <% if @user.present? && @user.user_type.eql?('admin') %> 
   <li>     <a href="<%= admin_homepage_path %>"> Admin Dashboard </a> </li> 

            <li> <a href="<%= sign_out_path %>">  Sign Out </a> </li> 
            <% else  %> 
            <li> <a href="<%= admin_login_path %>"> Login to Admin Account </a> </li>
            <% end %> 
          </ul> 
        </li> 
        <li class="dropdown" >
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-lock"></span> User Login <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu"> 
            <% if @user.present? && @user.user_type.eql?('user') %> 
   <li>     <a href="<%= user_homepage_path %>"> Homepage </a> </li> 

            <li> <a href="<%= sign_out_path %>">  Sign Out </a> </li> 
          </ul>
            <% else  %> 
            <li> <a href="<%= user_login_path %>"> Login to User Account </a> </li>
            <% end %> 
        </ul>
        </li> 
        <li> <a>
          <%= "Logged in as:  #{@user.username}" if @user.present? %>  </a> 
        </li>
        </ul>
  </div>
</nav>
