<div class="container">
  <div class="row">
      <div class='col-xs-8'>
          <div class='row'>
            <div class='pull-left'>
              <h2> Welcome Back, <%= @user.name %>!</h2>
             </div>
            </div>
              <div class'panel panel-primary'>
                <div class='panel-heading'> 
                 Your Most Recent Posts 
                </div>
                <div class='panel-body'>
              <% Category.all.each do |category| %>
                <% recent_reviews = category.review_posts.map do |element|
                    element if element.user_admin == @user 
                  end 
                 %>            
                <strong> <%= "Recent #{category.category_name} Reviews" %> </strong> 
                <table class='table table-condensed'>
                  <% if recent_reviews.present? %> 
                  <% recent_reviews.each do |review| %> 
                    <tr>
                      <td>
                        <%= review.title %> 
                      </td> 
                      <td>
                        <%= "Created #{time_ago_in_words(review.created_at)} ago" %>
                      </td>
                      <td>
                        <%= link_to "View Review", review %>
                      </td> 
                    </tr>
                  <% end %> 
                  <% else %>
                    <tr>
                      <td>
                      No Recent Reviews 
                      </td> 
                    </tr>
                  <% end %> 
                </table> 
              <% end %> 
              </div>
            </div> 
      </div>
      <div class="col-xs-4">
        <h3><span class="glyphicon glyphicon-exclamation-sign"></span> Post New Reviews </h3>
          <ul>
              <li>  
                 <%= link_to "Create New Post/Review", new_review_post_path %> 
              </li>
              <li>
                  <%= link_to "View All Your Posts", admin_homepage_path%> 
              </li> 
              <li>
                 <%= link_to "View Existing Review Categories", categories_path %> 
              </li>
              <li>
                 <%= link_to "Submit New Review Category", new_category_path %> 
              </li>
          </ul>
        <h3><span class="glyphicon glyphicon-question-sign"></span> Account Actions </h3>
          <ul>
              <li>  
                 <%= link_to "View Account Details", @user %> 
              </li>
          </ul>
    </div>
  </div> <!-- row -->
</div>
