<!DOCTYPE html>
<html>
<head>
  <title>Welcome Friends</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %> 
    <%= stylesheet_link_tag   'welcome' %>
  <%= javascript_include_tag  'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'header' %> 

<%= yield %>

<%= render  'footer' %> 
</body>
</html>
