<!DOCTYPE html>
<html>
<head>
  <title>Welcome Friends</title>
  <%= stylesheet_link_tag  'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %> 
    <%= stylesheet_link_tag   'application', media: 'all' %>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <%= javascript_include_tag  'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>

  <%= csrf_meta_tags %>
</head>
<body>
    <%= render  'header' %> 
    <%= yield %>
    <%= render  'footer' %> 
</body>
</html>
