<!DOCTYPE html>
<html>
<head>
  <title>Welcome Friends</title>
  <%= stylesheet_link_tag  'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <%= javascript_include_tag  'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
    
    <%= stylesheet_link_tag   'application', media: 'all' %>    
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= csrf_meta_tags %>
<style>
.wrapper {
    height: 100vh;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;
}

.footer {
    height: 30px;
}

.main {
    flex: 1;
}
</style>
</head>
<body>
  <div class='header'>
      <%= render  'welcome/header' %>
  </div>
  <div class='container-fluid main'> 
<%= yield %> 
  </div>
  <div class='footer'>
        <%= render  'welcome/footer' %> 
  </div>
</body>
</html>
